@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* Resetting default styles and setting global styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", serif;
}

body,
html {
    height: 100%;
    width: 100%;
    scrollbar-width: none;
    overflow-x: hidden;
}

main {
    height: 100%;
    width: 100%;
}

#nav, .page1 .main-text h1, .main-text p {
    color: #fff;
}

/* Navbar styling */
#nav {
    height: 4.688rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.875rem;
    position: fixed;
    z-index: 1000;
}

#nav h1 {
    font-weight: 700;
    font-size: 1.75rem;
}

#nav span {
    font-weight: 300;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.45rem;
    margin-right: 3rem;
}

#nav h4 {
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
}

#nav h4 a {
    color: #fff;
    text-decoration: none;
    transition: all 0.4s ease;
}


#nav h4 a:hover, #footer a:hover {
    color: yellow;
    border-bottom: 2px solid yellow;
}

/* Page 1 Style  */
.page1 {
    min-height: 100vh;
    background: linear-gradient(rgb(41, 192, 215), rgb(0, 110, 255));
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 8vw;
}

.page1 .main-text h1 {
    text-align: left;
    font-size: 5rem;
    line-height: 5rem;
}

.page1 .main-text p {
    text-align: left;
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

.main-text .btns-main .btn-re {
    padding: 1rem 1.5rem;
    margin-top: 2rem;
    margin-right: .75rem;
    border-radius: 2rem;
    border: 1px solid rgb(0, 110, 255);
    transition: all 0.3s ease-in-out;
}

.main-text .btns-main .btn-re a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1rem;
}

.main-text .btns-main .btn-re:hover {
    background: transparent;
    border: 1px solid #fff !important;
    color: #fff;
}

.main-text .btns-main .btn-re:hover a {
    color: #fff;
}

/* Page 2 Style */
/* .page2 text-ft  {
} */
.text-ft h1{
    margin-top: 2rem;
    padding: 2rem 6rem;
    font-size: 4vw;
    color: #000;
}
.text-ft p{
    margin-top: -3rem;
    padding: 2rem 6rem;
    font-size: 1.5vw;
    color: #000;
}
.text-ft img{
    height: 20px;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}


ul {
    padding: 2rem 6rem;
    width: 100%;
    /* background-color: beige; */
}

ul li {
    border-bottom: solid #000000 .05rem;
    position: relative;
    z-index: 10;
}

ul li:nth-last-child(1) {
    border-bottom: none;
}

ul li .link {
    display: flex;
    margin-top: -2rem;
    padding: 3rem 0 2rem 0;
    z-index: 10;
    justify-content: space-between;
}

ul li .link span {
    display: block;
    font-weight: 500;
    z-index: 20;
    mix-blend-mode: difference;
    display: inline-block;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 4rem;
    text-transform: uppercase;
    cursor: pointer;
}


ul li .link>img {
    mix-blend-mode: difference;
    z-index: 15;

}


.hover-reveal {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    overflow: hidden;
    opacity: 0;
    transform: scale(0.8);
    transition: all .5s ease-out;
}

.hover-reveal img {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    object-fit: cover;
    position: relative;
    transition: transform .4s ease-out;
}


@media (max-width: 768px) {
    nav ul {
        width: 93%;
    }

    nav ul li a span {
        font-size: 2.5rem;
    }

    nav ul li a>img {
        height: 18px;
    }

    .hover-reveal {
        width: 220px;
        height: 300px;
    }
}

/* End Of Page 2 */
#footer {
    background-color: #333333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}

#footerleft {
    display: flex;
    gap: 8px;
}

#footerleft a {
    text-decoration: none;
}

#footerright {
    margin-right: 4rem;
    display: flex;
    gap: 30px;
}

#footer a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

#footer #footer-logo-link:hover {
    border-bottom: none;
}